[submodule "UnrealFlecs"]
	path = UnrealFlecs
	url = https://github.com/Reddy-dev/Unreal-Flecs.git
	branch = main
	
[submodule "UnrealFlecs-Networking"]
	path = UnrealFlecs-Networking
	url = https://github.com/Reddy-dev/UnrealFlecs-Networking.git
	branch = main
