[submodule "UnrealFlecs"]
	path = UnrealFlecs
	url = https://github.com/Reddy-dev/Unreal-Flecs.git
	branch = main
	
[submodule "UnrealFlecs-StateTree"]
	path = UnrealFlecs-StateTree
	url = https://github.com/Reddy-dev/UnrealFlecs-StateTree.git
	branch = main

[submodule "UnrealFlecs-Chaos"]
	path = UnrealFlecs-Chaos
	url = https://github.com/Reddy-dev/UnrealFlecs-Chaos.git
	branch = main
[submodule "UnrealFlecs-Networking"]
	path = UnrealFlecs-Networking
	url = https://github.com/Reddy-dev/UnrealFlecs-Networking.git
	branch = main
